{{#if isShowingForm}}
<form id="updatePost" action="index.html" method="post">
  <label for="name">Name</label>
  {{input value=name id=nameInput}}
  <label for="title">Title</label>
  {{input value=title id=titleInput}}
  <label for="topic">Topic</label>
  {{input value=topic id=topicInput}}
  <label for="desc">Description</label>
  {{input value=desc id=descInput}}
  <button {{action 'updatePost' post}}>Save Post</button>
</form>
{{else}}
  <button {{action 'showForm'}}>Update Post</button>
{{/if}}
